html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
        color: black;
        font-size: 72px;
        font-weight: 400;
        margin: 0;
        font-family: "Pacifico", cursive;
      }
      
  
  